@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* HOME PAGE*/
:root{
  --main-color: #745328; 
}

*{
  font-family: 'Roboto', sans-serif;
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: none;
  transition: all .2s linear;
  line-height: 1.5;
}

html{
  font-size: 62%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body{
  background: #d8d0c9;
  padding-left: 30em;
}

section{
  padding: 1rem 5%;
  min-height: 100vh; 
}

.heading{
  font-size: 4rem;
  padding-bottom: 1rem;
  color: #111;
  text-transform: uppercase;
}

.heading span{
  color: #745328;
  text-transform: uppercase;
  padding-top: 10px;
}

.btn{
  display: inline-block;
  margin-top: 2rem;
  padding: 1rem 1.3rem;
  background: #745328;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
  margin-right: 1rem;
  border-radius: 2rem;

}

.btn:hover{
 background: #111; 
}

header{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #745328;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-flow: column;
  padding: 8rem 2rem;
  width: 30rem;
  text-align: center;
  padding-top: 3rem;
}

header .logo{
  padding-top: 0rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0;
  height: auto;
  width: 140%;
  flex-flow: column;
}

header .navbar a{
  display: block;
  font-size: 2rem;
  color: #fff;
  margin: 2rem 0;
  padding-top: 0;
}

header .navbar a:hover{
  letter-spacing: .2rem;
  color:#fcd5a3;
}

header .social a{
  font-size: 2.5rem;
  color: #fff;
  margin: 0 .7rem;

}

header .social a:hover{
  color: #fcd5a3;
}


#menu-bars{
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10000;
  background: var(--main-color);
  color: #fff;
  border-radius: .5rem;
  padding: 1rem 1.5rem;
  font-size: 3rem;
  cursor: pointer;
  display: none;
}

 
.home{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-left: 5rem;
 }

.home .image{
  flex: 1 1 40rem;
}

.home .image img{
  width: 80%;
}

.home .content{
  flex: 1 1 40rem;
}

.home .content .hi{
  font-size: 2.5rem;
  color: #745328;
}

.home .content h1{
  font-size: 4.5rem;
  color: #111;
  text-transform: none;
}

.home .content h1 span{
  color: #745328;
  text-transform: none;
}

.home .content .information{
  font-size: 2.5rem;
  color: #111;
  padding: 1rem 0;
}

.home .content .text{
  font-size: 1.8rem;
  color: #666;
  text-transform: none;
}

/*ABOUT ME*/

.about .row-1{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 2rem;
}

.about .row-1 .image{
  flex: 1 1 25rem;
}

.about .row-1 .image img{
  height: auto;
  width: 375px;
  object-fit: cover;
  border: #745328;
  border-radius: 8rem;
  box-shadow: #745328;

}

.about .row-1 .content{
  flex: 1 1 50rem;
}

.about .row-1 .content h1{
  color: #333;
  font-size: 3.5rem;
}

.about .row-1 .content p{
  color: #666;
  font-size: 1.7rem;
  padding: 2rem 0;
  text-transform: none;

  
}

.about .row-1 .content .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 0.5rem 0;
}

.about .row-1 .content .box-container .box{
  flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box span{
  color: var(--main-color);
}

/*DESCRIPTION*/

.description .row-1{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 3rem;
}

.description .row-1 .image{
  flex: 1 1 25rem;
  padding-top: 8rem;
}


.description .row-1 .image img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.description .row-1 .content{
  flex: 1 1 50rem;
}

.description .row-1 .content h1{
  color: #333;
  font-size: 3.5rem;
  padding-top: 1rem;
}

.description .row-1 .content p{
  color: #666;
  font-size: 1.7rem;
  text-transform: none;
  padding-top: 1rem;
  padding-left: 4rem;
  padding-right: 3.5rem;
  text-align: justify;
}

/* SKILLS*/

.skill-main{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 20px;
  padding-top: 30px;
  font-size: medium
}

.skill-main .skill-bar .info{
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}


.skill-bar .bar{
  width: 100%;
  height: 10px;
  position: relative;
  background-color: #ccad89;
  border-radius: 25px;
  margin-top: 5px;
}

.skill-bar .bar span{
  width: 50%;
  height: 100%;
  position: absolute;
  background-color: var(--main-color);
  border-radius: 25px;

}

/*html*/

.skill-bar .bar .html{
  width: 90%;
  animation: html 3.5s;
}

@keyframes html{
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}

/*css*/

.skill-bar .bar .css{
  width: 80%;
  animation: css 3.5s;
}

@keyframes css{
  0%{
    width: 0;
  }
  100%{
    width: 80%;
  }
}

/*javascript*/

.skill-bar .bar .javascript{
  width: 60%;
  animation: javascript 3.5s;
}

@keyframes javascript{
  0%{
    width: 0;
  }
  100%{
    width: 60%;
  }
}

/*wordpress*/

.skill-bar .bar .wordpress{
  width: 90%;
  animation: wordpress 3.5s;
}

@keyframes wordpress{
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}

/*python*/

.skill-bar .bar .python{
  width: 45%;
  animation: python 3.5s;
}

@keyframes python{
  0%{
    width: 0;
  }
  100%{
    width: 45%;
  }
}

/*java*/

.skill-bar .bar .java{
  width: 50%;
  animation: java 3.5s;
}

@keyframes java{
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}

/*php*/

.skill-bar .bar .php{
  width: 50%;
  animation: php 3.5s;
}

@keyframes php{
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}

/*figma*/

.skill-bar .bar .figma{
  width: 90%;
  animation: figma 3.5s;
}

@keyframes figma{
  0%{
    width: 0;
  }
  100%{
    width: 90%;
  }
}

/*adobexd*/

.skill-bar .bar .adobexd{
  width: 50%;
  animation: adobexd 3.5s;
}

@keyframes adobexd{
  0%{
    width: 0;
  }
  100%{
    width: 50%;
  }
}

/* EDUCATION */

ul {
  --col-gap: 2rem;
  --row-gap: 2rem;
  --line-w: 0.25rem;
  display: grid;
  grid-template-columns: var(--line-w) 1fr;
  grid-auto-columns: max-content;
  column-gap: var(--col-gap);
  list-style: none;
  width: min(60rem, 90%);
  margin-inline: auto;
  padding-top: 2rem;
}

/* line */
ul::before {
  content: "";
  grid-column: 1;
  grid-row: 1 / span 20;
  background: rgb(225, 225, 225);
  border-radius: calc(var(--line-w) / 2);
}

/* columns*/

/* row gaps */
ul li:not(:last-child) {
  margin-bottom: var(--row-gap);
}

/* card */
ul li {
  grid-column: 2;
  --inlineP: 1.5rem;
  margin-inline: var(--inlineP);
  grid-row: span 2;
  display: grid;
  grid-template-rows: min-content min-content min-content;
  font-size: 1.5rem;
}

/* date */
ul li .date {
  --dateH: 3rem;
  height: var(--dateH);
  margin-inline: calc(var(--inlineP) * -1);
  text-align: center;
  background-color: var(--accent-color);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  display: grid;
  place-content: center;
  position: relative;
  border-radius: calc(var(--dateH) / 2) 0 0 calc(var(--dateH) / 2);
}

/* date flap */
ul li .date::before {
  content: "";
  width: var(--inlineP);
  aspect-ratio: 1;
  background: var(--accent-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 100%, transparent);
  position: absolute;
  top: 100%;

  clip-path: polygon(0 0, 100% 0, 0 100%);
  right: 0;
}

/* circle */
ul li .date::after {
  content: "";
  position: absolute;
  width: 2rem;
  aspect-ratio: 1;
  background: var(--bgColor);
  border: 0.3rem solid var(--accent-color);
  border-radius: 50%;
  top: 50%;

  transform: translate(50%, -50%);
  right: calc(100% + var(--col-gap) + var(--line-w) / 2);
}

/* title descr */
ul li .title,
ul li .descr {
  background: var(--bgColor);
  position: relative;
  padding-inline: 1.5rem;
}
ul li .title {
  overflow: hidden;
  padding-block-start: 1.5rem;
  padding-block-end: 1rem;
  font-weight: 500;
}
ul li .descr {
  padding-block-end: 1.5rem;
  font-weight: 300;
  font-size: 1.5rem;
}

/* shadows */
ul li .title::before,
ul li .descr::before {
  content: "";
  position: absolute;
  width: 90%;
  height: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  border-radius: 50%;
  filter: blur(4px);
  transform: translate(-50%, 50%);
}
ul li .title::before {
  bottom: calc(100% + 0.125rem);
}

ul li .descr::before {
  z-index: -1;
  bottom: 0.25rem;
}

@media (min-width: 40rem) {
  ul {
    grid-template-columns: 1fr var(--line-w) 1fr;
  }
  ul::before {
    grid-column: 2;
  }
  ul li:nth-child(odd) {
    grid-column: 1;
  }
  ul li:nth-child(even) {
    grid-column: 3;
  }

  /* start second card */
  ul li:nth-child(2) {
    grid-row: 2/4;
  }

  ul li:nth-child(odd) .date::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%);
    left: 0;
  }

  ul li:nth-child(odd) .date::after {
    transform: translate(-50%, -50%);
    left: calc(100% + var(--col-gap) + var(--line-w) / 2);
  }
  ul li:nth-child(odd) .date {
    border-radius: 0 calc(var(--dateH) / 2) calc(var(--dateH) / 2) 0;
  }
}

/* CONTACT */

p{
  font-size: 13px;
}

.container{
  width: 80%;
  background:#fff;
  border-radius: 6px;
  padding: 20px 60px 40px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;

}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.content .left-side::before{
  content: '';
  position: absolute;
  height: 80%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #745328;

}

.content .left-side .details{
  margin: 14px;
  text-align: center;
}

.content .left-side .details i{
  font-size: 30px;
  color: #745328;
  margin-bottom: 10px;
}

.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #745328;
}

.container .content .right-side{
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  color: #745328;
}

.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 14px;
  background: #d8d0c9;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box{
  min-height: 110px;
  margin-top: 6px;
}

.right-side .button{
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"]{
  color: #d8d0c9;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  background: #745328;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover{
  background: #d8d0c9;
}

@media (max-width:950px ){
  .container{
    width: 90%;
    padding: 30px 35px 40px 35px;

  }
}

@media (max-width:820px ){
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
  .container .content .left-side{
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }
  .container .content .left-side::before{
    display: none;
  }
  .container .content .right-side{
    width: 100%;
    margin-left: 0;
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



/* SAMPLE WORKS */

.work-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 50px;
  margin-top: 20px;
  padding-bottom: 10rem;

}

.work{
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;

}

.layer{
  width: 100%;
  height: 0;
  background: linear-gradient(rgba(0,0,0,0.6), #745328);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  font-size: 14px;
  color: #fff;
  transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom: 10px;
}

.layer p{
  margin-bottom: 10px;
}

.layer a{
  margin-top: 20px;
  color: #745328;
  text-decoration: none;
  font-size: 18px;
  line-height: 60px;
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
  height: 100%;
}

/*media queries*/
@media(max-width:991px){
  html{
    font-size: 55%;
  }
  body{
    padding: 0;
  }

  #menu-bars{
    display: initial;
  }
  header{
    left: -120%;
  }

  header.active{
    left:0%;
  }
}

@media(max-width:450px){
  html{
    font-size: 50%;
  }
  header{
    width: 100%;
  }
}

.pattern{
  position: absolute;
  top: 15%;
  right: 5%;
  left: 61%;
  display: flex;
  transform: rotate(10deg);
  z-index: -5;
}

.pattern img{
  width: 550px;
  top: 0;
  left: 0;
  animation: move 1.5s linear infinite alternate-reverse;
}

.pattern img:nth-child(1){
  transform: rotate(-45deg) translate(-70px, -50px);
  animation-delay: 0.9s;
}



@keyframes move{
  100%{
    margin-left: 40px;
    margin-top: 20px;
    opacity: 0.3;
  }
}
